# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:
pokemon.groupby(['Legendary'])['Name'].count()

Legendary
False    735
True      65
Name: Name, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [11]:
# Your code here:
pokemon.groupby(['Legendary']).agg({'Total':['mean','std']})

                Total
                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [27]:
# Your code here:
a=pokemon[pokemon['Legendary']==False]['Total']
b=pokemon[pokemon['Legendary']==True]['Total']

from scipy.stats import ttest_ind, ttest_ind_from_stats

# Use scipy.stats.ttest_ind.
t, p = ttest_ind(a, b, equal_var=False)
print("ttest_ind:            t = %g  p = %g" % (t, p))

SyntaxError: invalid syntax (<ipython-input-27-c202b87deb20>, line 6)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
#P value is less than 0.1 we reject the hyphotesis
# samples do not come from the same distribution and distributions are different.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [17]:
# Your code here:
pokemon.groupby(['Type 1'])['Name'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [23]:
# Your code here:
print(pokemon[pokemon['Type 1']=='Water'].agg({'Total':['mean','std']}))
print(pokemon[pokemon['Type 1']!='Water'].agg({'Total':['mean','std']}))

           Total
mean  430.455357
std   113.188266
           Total
mean  435.859012
std   121.091682

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [26]:
# Your code here:
a=pokemon[pokemon['Type 1']=='Water']['Total']
b=pokemon[pokemon['Type 1']!='Water']['Total']

t, p = ttest_ind(a, b, equal_var=True)
print("ttest_ind:            t = %g  p = %g" % (t, p))

ttest_ind:            t = -0.441855  p = 0.658714

Write your conclusion below.

In [10]:
# Your conclusions here:
#Pvalue is greater than 0.05 so we accept accept the null hyphotesis, total value do not differ significantly if pokemon is
#water or not.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [33]:
# Your code here:
from scipy.stats import ttest_rel
a=pokemon['Attack']
b=pokemon['Defense']
print(a.mean())
print(b.mean())
ttest_rel(a,b)

79.00125
73.8425

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
#pvalue is less than .05 we reject null hyphotesis.Columns have a statisticall significant difference.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [35]:
# Your code here:
a=pokemon['Sp. Atk']
b=pokemon['Sp. Def']
print(a.mean())
print(b.mean())
ttest_rel(a,b)

72.82
71.9025

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#pvalue is over  .05 we accept null hyphotesis.
#There is no significant difference between the columns.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [37]:
# Your code here:
from scipy.stats import ttest_1samp
t, p = ttest_1samp(pokemon['Defense']-pokemon['Attack'],0)
print(t,p)

-4.325566393330478 1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [38]:
# Your code here:
cros = pd.crosstab(pokemon['Legendary'],pokemon['Type 1']=='Water')
cros

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [48]:
# Your code here:
from scipy.stats import chi2_contingency
from scipy.stats import chi2

stat, p, dof, expected=chi2_contingency(cros)
#chi2, p, dof, expected
prob = 0.95
critical = chi2.ppf(prob, dof)
if abs(stat) >= critical:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')
print(p)

Independent (fail to reject H0)
0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [49]:
# Your answer here:
#p>.05 we cannot reject the null hyphotesis Parameters are independent.